.dentistcard {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
    padding: var(--space-lg);

}

@media(max-width:767px) {
    .dentistcard {
        width: 100%;
        min-width: 0;
    }
}

.dentistcard p {
    font-size: var(--text-lg);
    color: var(--text);
}

.dentistcard button {
    padding: var(--space-sm);
    border-radius: var(--radius);
    font-weight: var(--weight-bold);
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}